@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

* {
  box-sizing: 0;
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #fff;
}

.mobile-version {
  width: 375px;
  background-color: rgb(235, 235, 235);
  height: 3500px;
}

.Header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(23, 39, 2);
}

.navigation-links {
  list-style: none;
  display: none;
  gap: 10px;
}

.fa-sharp {
  margin-right: 30px;
  margin-top: 20px;
  cursor: pointer;
  margin-bottom: 10px;
  color: rgb(138, 224, 0);
}

.my-logo {
  text-decoration: none;
  margin-left: 20px;
  margin-top: 20px;
  font-family: 'Poppins', sans-serif;
  font-size: 10px;
  color: rgb(114, 214, 0);
  margin-bottom: 10px;
}

.main-intro {
  color: rgb(140, 201, 0);
  text-align: center;
  margin-left: 10px;
  margin-top: -10px;
  margin-bottom: 50px;
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  line-height: 30px;
}

.introduction {
  padding-bottom: 100px;
  padding-top: 50px;
}

.introduction .img {
  width: 100%;
  margin-top: -50px;
  margin-bottom: -100px;
  border-radius: 0 0 0 50px;
  height: 300px;
}

span {
  color: #ffffff
}

.social-icons {
  list-style: none;
  display: flex;
  margin-left: 105px;
  margin-top: -40px;
  gap: 20px;
}

.rotate-icons {
  background-color: rgb(0, 136, 199);
}

@media (min-width: 748px) {
  .mobile-version {
    width: 100%;
  }

  .introduction .img {
    height: 600px;
  }

  .navigation-links {
    display: flex;
    margin-top: 20px;
    margin-right: 40px;
    cursor: pointer;
    gap: 20px;
    color: rgb(161, 230, 0);
    font-weight: 400;
  }

  .name {
    margin-bottom: 45px;
    font-size: 20px;
  }

  .Header {
    margin-bottom: -40px;
  }

  .fa-sharp {
    display: none;
  }

  .main-intro {
    margin-top: -350px;
    text-align: left;
    font-size: 60px;
    line-height: 60px;
    margin-left: 90px;
  }
}
